@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Noto+Sans:wght@300;400;500;600;700;900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

:root {
    --black: rgb(58, 55, 50);
    --white: rgb(250, 250, 250);
    --dark-pink: rgb(211, 15, 93);
    --pink: rgb(231, 129, 158);
    --blue: rgb(77, 143, 201);
}

/* header*/
.header {
    z-index: 9;
    position: fixed;
    background-color: var(--black);
    transition: background-color 0.5s;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8%;
    color: var(--white);
    padding: 10px 20px;
}

.logo {
    border-radius: 10px;
    padding: 0.3% 0.4%;
    margin-left: 5%;
    font-size: 24px;
}

.logo a {
    color: var(--dark-pink);
    text-decoration: none;
    font-size: 1.5rem;
}

.logo:hover {
    rotate: 6deg;
    transition: 0.3s;
}

.navBar {
    list-style: none;
    display: flex;
    gap: 20px;
}

.side {
    margin: 0 10px;
}
.side a {
    color: var(--white);
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}
.side a {
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.side a::after {
    content: '';
    position: absolute;
    bottom: 0.2em;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--dark-pink);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.side a:hover::after,
.side a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.dropDown {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.dropDown .bar {
    width: 25px;
    height: 2.5px;
    background-color: #fff;
    margin: 1.5px 0;
}

@media (max-width: 768px) {
    .navBar {
        display: none;
        flex-direction: column;
        width: fit-content;
        background-color: var(--black);
        position: absolute;
        top: 50px;
        right: 0;
        padding: 0 10px 10px 0;


    }

    .navBar.active {
        display: flex;
        flex-direction: column;
        width: fit-content;
        background-color: var(--black);


    }

    .dropDown {
        display: flex;
    }
}

/*footer*/

footer {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100vw;
    height: fit-content;
    min-height: 250px;
    background-color: var(--black);
    color: var(--white);
    padding-top: 4%;
    justify-content: center;
}

footer ul {
    height: fit-content;
    list-style-type: none;
    line-height: 1.8;
}
footer h5 {
    font-size: 1.2rem;
    margin-bottom: 2%;
}
footer i {
    margin-right: 8px;
}
.kildeBox {
    grid-column: 1/4;
    display: flex; 
    align-items: flex-start; 
    flex-direction: column;
    width: 80vw; 
}
#kildeKnapp {
    background-color: transparent;
    border-radius: 10px;
    padding: 3px 7px;
    color: var(--white);
    border: none;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    border: var(--dark-pink) solid 1.5px; 
}
#kildeKnapp:hover {
    background-color: var(--dark-pink);
    transition: background 0.3s;
}
.kilder {
    color: var(--grey);
    line-height: 1.4;
    padding-bottom: 20px;
   
}
.kilder a {
    color: var(--dark-pink);
    
}


/* generelt*/
main {
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
}

.overskrift {
    text-align: center;
    font-size: 2.2rem;
    margin: 2% 0;
}

.strek {
    width: 100%;
    height: 2px;
    background-color: var(--dark-pink);
}

.tekst {
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.6;
  
}

.skrollopp {
    grid-column: 3/4;
    display: flex;
}

.skrolloppKnapp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 60px;
    margin: 7%;
    border-radius: 50px;
    background-color: var(--dark-pink);
    color: var(--white);
    cursor: pointer;
}

.skrolloppKnapp p {
    font-size: 1.2rem;
}

.skrollopp i {
    font-size: 1rem;
}

.skrolloppKnapp:hover {
    background-color: var(--pink);
    transition: background 0.3s;
}

/*forside*/

.borte {
    background-color: transparent;
}

.hero {
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100vh;
    background: linear-gradient(140deg, var(--pink), var(--blue));
}

.divbox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.4);
    width: 75%;
    height: 70%;
}

.heroOverskrift {
    color: var(--white);
    font-size: 3.5rem;
}

.heroUnderoverskrift {
    text-align: center;
    color: var(--white);
    font-size: 2rem;
    padding: 2% 0;
}

.lesMer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: rgba(202, 193, 193, 0.8);
    padding: 1%;
    margin: 2%;
    border-radius: 10px;
}

.lesMer p {
    font-size: 1.5rem;
}

.lesMer:hover {
    p {
        color: var(--dark-pink);
        transition: 0.3s;
    }

    background-color: var(--pink);
    transition: 0.3s;
}

.data {
    grid-column: 3/4;
    padding: 8% 0 10% 0;
}

.forsidetekst {
    padding-top: 5%;
}

.PassivAktiv {
    grid-column: 2/5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 5%;
}

.typeSpor {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
}

.typeSpor a {
    margin-top: 8%;
    text-decoration: none;
    color: var(--black);
}

.typeSpor a:hover {
    color: var(--dark-pink);
    transition: 0.25s;
}

.aktiv img {
    width: 90%;
    border-radius: 10px;
}

.passiv img {
    width: 90%;
    border-radius: 10px;
}

.APoverskrift {
    text-align: center;
    font-size: 1.6rem;
    margin: 5% 0;
}

#AP {
    font-size: 1.1rem;
}

.algoritmer {
    grid-column: 3/4;
}

.lesVidere {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 0 10% 0;
}

.lesVidereTekst {
    width: 35%;
    margin-top: 4%;
}
.lesVidereTekst p{
 font-size: 1.1rem;
 line-height: 1.3;
 margin-top: 4%;
}

.lesVidereBox {
    background: linear-gradient(135deg, var(--blue), var(--pink));
    display: flex;
    flex-direction: row;
    width: 60%;
    min-height: 250px;
    justify-content: space-around;
    border-radius: 40px;
    align-items: center;
}
.lesVidereBox a{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    color: var(--black);
    font-size: 1rem;
}
.lesVidereLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    min-width: fit-content;
    background-color: var(--white);
    opacity: 0.6;
    text-align: center;
    height: 70%;
    border-radius: 30px;
}


.lesVidereLink i {
    font-size: 2rem;
}

.lesVidereLink:hover {
    opacity: 0.8;
    transition: 0.3s;
}

/* komersielle formål*/
.bakgrunn {
    background: url(/bilder/bakgrunnBR.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
}

.section {
    height: 100vh;
    width: 60%;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.BK {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 241, 236);
    padding: 6% 8% 3% 8%;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

.BKoverskrift {
    padding: 8%;
    text-align: center;
}
.BKavsluttning{
    padding: 8%;
    text-align: center;
    font-size: 1.1rem;
}

.section.paa {
    opacity: 1;
    transform: translateY(0);
}

.pil {
    display: flex;
    justify-content: flex-end;
}

.section i {
    font-size: 2rem;
    color: var(--pink);
}

.section i:hover {
    color: var(--dark-pink);
    transition: 0.3s;
}

.skrolloppKF {
    width: 65%;
}

/*informasjonstillgang og politikk*/
.mainPI {
    padding-top: 8%;
}

.PIoverskrift {
    grid-column: 3/4;
    margin-top: 4%;
}

.PIintro {
    grid-column: 3/4;
    background-color: var(--dark-pink)(77, 143, 201);
    border-radius: 25px;
    margin-top: 4%;
    padding: 1.5% 1%;
}
.PIintro a{
   text-decoration: none;
   font-weight: 600;
   color: var(--black);
}
.PI {
    padding: 3% 0;
    grid-column: 3/4;
    display: flex;
    justify-content: center;

}
.bildeToptekst{
    padding-bottom: 0;
}
.bildePI{
    padding-top: 0;
}
.bildePI p {
    text-align: left;
    overflow: hidden; 

}
.bildePI img {
    width: 80%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: left;
    margin: 18px 18px 10px 0; 
    width: 50%;
}

/*persjonvern*/
.PVoverskrift {
    grid-column: 3/4;
    margin-top: 15%;
}
.PV {
    padding: 3% 0;
    grid-column: 3/4;
}
.bildePV img {
    float: right;
    margin: 0 20px 15px 0; 
    width: 50%;
    height: auto;
}

.bildePV p {
    text-align: left;
    overflow: hidden; 
}
.quizPV{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}
.quizPV p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2%;
}
.quiz {
    background-color: var(--blue);
    width: fit-content;
    padding: 1.5%;
    border-radius: 20px;
    margin-top: 1%;
}

.quiz a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.quiz:hover {
    background-color: var(--pink);
    transition: 0.3s;
}


@media (max-width: 500px) {
    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
    .adresse{
        grid-column: 1/3;
        padding-left: 20px;
    }
    .kontaktOss{
        grid-column: 1/3;

    }
    .sosialeMedier{
        grid-column: 3/5;
    }
    .kildeBox{
        grid-column: 1/5;
    }
}

@media (max-width: 768px) {
    .data{
        grid-column: 2/5;
    }
    .algoritmer{
        grid-column: 2/5;
    }
    .lesVidere{
        grid-column: 2/5;
    }
   .tekst{
    text-align: center;
   }
   .mainPI{
    padding-top: 20%;
   }

   .PI{
    grid-column: 2/5;
   }
   .bildeToptekst p{
    text-align: left;
   }
   .PIintro{
    grid-column: 2/5;
   }
   .mainPV{
    padding-top: 20%;
   }
   .PV{
    grid-column: 2/5;
   }
}
@media (max-width: 768px){
    .PassivAktiv{
        flex-direction: column;
    }
    .typeSpor{
        width: 100%;
        margin-bottom: 20px;
    }
  
    .lesVidere{
        flex-direction: column;
       }
       .lesVidereTekst{
        width: 100%;
        margin-bottom: 20px;
       }
   .lesVidereBox{
        width: 100%;
        height: 200px;
        justify-content: space-evenly;
    }
   .lesVidereLink{
        width: 30%;
        height: 60%;
    }

}