@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Noto+Sans:wght@300;400;500;600;700;900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --dark-grey: rgb(229, 225, 221);
    --grey: rgb(245, 241, 236);
    --blue: #2c36a5;
    --light-blue: #59c5b8;
    --black: rgb(44, 40, 34);
    --medium-blue:#3b898d;

}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: transparent;
    color: transparent;
    height: 100px;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 30px;
    z-index: 9;
    transition: background-color 0.5s ease;
}

.paa {
    background-color: var(--grey);
    color: var(--black);
}

.paa .navBar a {
    color: var(--black);
}

.logo {
    font-size: 20px;
    justify-self: start;
}

.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 17px;
    justify-items: center;

}

.navBar a {
    text-decoration: none;
    position: relative;
    color: transparent;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(bilder/digitaleSpor.jpeg);
    background-size: cover;
    height: 100vh;
}

.divbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 60%;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255, 0.4);
}

.divbox h3 {
    font-family: Roboto;
    color: var(--blue);
    font-size: 50px;
    margin: 5% 0;
}

.spillKnapp {
    background-color: var(--light-blue, 1);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 20px;
    color: var(--blue);
    font-weight: bold;

}

main {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: var(--grey);
    padding-bottom: 100px;
}

.info {
    grid-column: 2/3;
    text-align: center;
}

h1 {
    color: var(--black);
    font-size: 35px;
    font-family: Roboto;
    padding: 40px 0 30px 0;
}

.text {
    color: var(--black);
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.5px;
    font-family: Roboto;
    padding-bottom: 7%;
}

.fargeUt {
    background-color: var(--dark-grey);

}

.AktivPassiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

h2 {
    color: var(--black);
    text-align: center;
    font-size: 25px;
    font-family: Roboto;
    padding: 40px 0 30px 0;
}

.aktiv {
    width: 50%;
    left: auto;
}

.passiv {
    width: 50%;
    right: auto;
}

.lesMer {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px; 
    background-image: url("bilder/komersiellBoks.jpg");
    background-size: cover; 
    background-position: center; 
    
}
    
.lesMer h2{
    z-index: 6;
}
.lesMer h3{
    justify-self: right;
    font-size: 25px;
    color: var(--medium-blue);
    border-radius: 15px;
    padding: 10px 5px;
    background-color: rgb(255, 255, 255, 0.4);
    width: fit-content;
    height: fit-content;
    
}
#link{
    margin-left: 60%;
    margin-top: 4%;
}
#link h3 {
    margin: 30px 0;
}


.KF {
    padding: 15px 0 25px 0;
}


footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 200px;
    background-color: var(--blue);
    color: var(--beige);
    align-items: center;
    justify-content: space-around;

}

.kontaktOss ul {
    list-style-type: none;
    line-height: 2;
}

#kildeKnapp {
    background-color: var(--grey);
    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    color: var(--blue);
}

.kilder {
    display: none;
}