* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  