* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }
  .boks{
    overflow: hidden;
    position: relative;
 }
  .score{
    position: absolute;
    font-size: 3vmin;
    right: 10vmin;
    top: 1vmin;
    background-color: orange;
    color: whitesmoke;
    padding: 7px 12px ;
    border-radius: 10px;
   

  }
  .start{
    background-color: orange;
    border-radius: 20px;
    padding: 7px 12px ;
    color: whitesmoke;
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  .hide{
    display: none;
  }
  .bakgrunn{
    --left:0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left)* 1%);
  }
  .spiller{
    --bottom:0;
    position: absolute;
    left: 2%;
    height: 30%;
    bottom: calc(var(--bottom)* 1%);
  }
.hinder{
    position: absolute;
    left: calc(var(--left)* 1%);
    height: 21.5%;
    bottom: 0;
}

  