body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.quizSide{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.quiz-container {
    width: 50%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 4%;
}
#quiz{
    padding-left: 40px;
}

h1 {
    text-align: center;
    background-color: pink;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 1%;
    margin-bottom: 2%;
}

.question {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: 550;
}

.answers {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#skjekksvar {
    background: rgb(246, 51, 149);
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    color: #fff;
    border: none;
}

#skjekksvar:hover {
    background:hotpink;
    transition: 0.3s;
}

#resultat {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}
