
.quizSide{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, var(--blue), var(--pink));
}
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    margin-bottom: 4%;
}
#quiz{
   text-align: left;
}

h1 {
    text-align: center;
    background-color: pink;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 2%;
    margin: 4% 0 8% 0;
}

.question {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 550;
}

.answers {
    margin-bottom: 10%;
    font-size: 1.1rem;
}

label {
    display: block;
    margin-bottom: 10px;
}

#skjekksvar {
    background: var(--dark-pink);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: 50%;
    border: none;
    font-size: 1.2rem;
}

#skjekksvar:hover {
    background:var(--pink);
    transition: 0.3s;
}

#resultat {
    margin: 45px 0;
    text-align: center;
    font-size: 1.3rem;
}
